@media (max-width: 1500px) {
	.container {
		max-width: 1040px;
	}

	.work {
		&__wrapper {
			gap: 10px;
			.ipad {
				grid-row: unset;
				grid-column: unset;
				img{
					width: 100%;
					height: 280px;
					object-fit: cover;
				}
			}
			.plans{
				grid-row: unset;
				grid-column: unset;
				img{
					width: 100%;
					height: 280px;
					object-fit: cover;
				}
			}
		}
	}
}

