@media (max-width: 1440px) {
    .container{
        max-width: 1040px;
    }
    .resume{
        &__wrapper{
            column-gap: 0px;
            display: grid;
            grid-template-columns: repeat(2, 325px);
            column-gap: 50px;
            justify-content: space-around
        }
    }
}
	
@media (max-width: 1024px) {
    .container{
        max-width: 700px;
    }
}

@media (max-width: 767px) {
    .container{
        max-width: 470px;
    }
    .resume{
        &__wrapper{
            column-gap: 0px;
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 50px;
            justify-content: space-around
        }
    }
}

@media (max-width: 425px) {
    .container{
        max-width: 400px;
    }
    .resume{
        &__wrapper{
            padding: 40px 8px 0 8px;
        }
        .title_fz36{
            font-size: 24px;
        }
        .divider{
            margin-top: 15px;
        }
        &__item{
            margin-top: 40px;
        }
    }
}
